<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>name</key>
		<string>Carlênio Bezerra Castelo Branco</string>
		<key>slug</key>
		<string>carlenio-bezerra-castelo-branco</string>
		<key>title</key>
		<string>Presidente da Senior Sistemas</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Diretor Presidente da Senior Sistemas, desde Junho de 2012;
MBA Executivo pela Universidad Mayor do Chile;
Pós-Graduação em Administração Financeira pela Universidade de Pernambuco;
Graduado em Ciência da Computação pela Universidade Católica de Pernambuco;
Ocupou a posição de Diretor Geral na Getnet Tecnologia - operação Chile -, e  Diretor Executivo de Varejo e Marketing, envolvendo mais de 300 estabelecimentos comerciais;
Atuou na área comercial do Grupo Carlos Lyra  e Oi/Telemar, onde também teve experiência com estruturações de canais de distribuição.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>18</string>
		<key>name</key>
		<string>Carlos Zilli</string>
		<key>slug</key>
		<string>carlos-zilli</string>
		<key>title</key>
		<string>Diretor Presidente da empresa Imaginarium</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Diretor-Presidente da Imaginarium, desde 2005;
MBA em Gestão pela USP-SP, Comércio Internacional pela FGV- SC e Planejamento Estratégico pelo IMD;
Pós-Graduado em Marketing e em Gestão Empresarial pela FGV-SP;
Formado em Administração de Empresas pela PUC-SP;
Foi Superintendente da Cia Hering onde atuou por 20 anos.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>Cees van Riel</string>
		<key>slug</key>
		<string>cees-van-riel</string>
		<key>title</key>
		<string>Co-fundador e Vice Presidente do Reputation Institute</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Co-fundador e Vice-presidente e do Reputation Institute;
Professor de Comunicação Corporativa na Rotterdam School of Management, Erasmus University;
Autor dos livros Principles of Corporate Communication (1996), Fame &amp; Fortune (2004) e Essentials of Corporate Communication (2006). Reputação: o valor estratégico do engajamento de stakeholders é sua obra mais recente;
Tem vários artigos publicados em revistas de prestígio, tais como The Academy of Management Journal, Long Range Planning, Journal of Management Studies e Journal of Marketing;
Em 2011 recebeu o Pathfinder Award, a mais alta honraria concedida pelo Instituto de Relações Públicas (IPR), pela sua contribuição para a pesquisa no campo da reputação corporativa e alinhamento estratégico.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>Clóvis de Barros Filho</string>
		<key>slug</key>
		<string>clovis-de-barros-filho</string>
		<key>title</key>
		<string>Consultor de Ética da UNESCO</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Doutor em Direito pela Universidade de Paris e Doutor em Comunicação pela Universidade de São Paulo;
Professor livre-docente de Ética da ECA/USP, coordenador do curso de "Ética e Meio Ambiente" do PEC/FGV-SP ;
Consultor de Ética da UNESCO;
Professor, colunista e conferencista do Espaço Ética;
Principais Livros Publicados: A vida que vale a pena ser vivida. Petrópolis: Ed. Vozes, 2011; Ética e comunicação organizacional, Ed. Paulus; Comunicação na Polis. Petrópolis: Ed. Vozes; Ética na Comunicação. São Paulo. Ed. Summus.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>16</string>
		<key>name</key>
		<string>Ernesto Vilella</string>
		<key>slug</key>
		<string>ernesto-vilella</string>
		<key>title</key>
		<string>Presidente da ENOX</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Presidente da ENOX;
Especialista do setor de comunicação e marketing, com skills em branding, vendas, inovação, mídia, estratégia e comportamento do consumidor;
Graduado em administração de empresas pela FGV-SP;
Foi selecionado pela Endeavor como empreendedor de alto impacto no ano de 2010;  
Foi finalista do Prêmio Jovem Empreendedor da Ernst &amp; Young Terco em 2011 e seu trabalho à frente da Enox foi mencionado em Conferência sobre empreendedorismo e inovação na sede das Nações Unidas, em junho de 2013;</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>Jorge Arbache</string>
		<key>slug</key>
		<string>jorge-arbache</string>
		<key>title</key>
		<string>Assessor da Presidência do Banco Nacional de Desenvolvimento - BNDES e professor de Economia da Universidade de Brasília</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Assessor Econômico da Presidência do BNDES e Professor de Economia da Universidade de Brasília;
Economista, especialista em desenvolvimento econômico, com especial interesse em economia brasileira, economia africana, economia internacional e economia industrial;
Tem longa experiência nas áreas governamental, setor privado, organizações internacionais e academia;
Foi Economista Sênior do Banco Mundial em Washington, DC, onde dirigiu várias edições do relatório anual do para a África;
Autor do livro Gender disparities in Africa's labor markets" (The World Bank, Washington, DC, 2010), além de vários outros livros e dezenas de artigos científicos e capítulos de livros publicados, incluindo estudos nas áreas de crescimento econômico, economia internacional, economia do trabalho, economia industrial, economia da tecnologia e pobreza.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>14</string>
		<key>name</key>
		<string>Jorge Gerdau Johannpeter</string>
		<key>slug</key>
		<string>jorge-gerdau-johannpeter</string>
		<key>title</key>
		<string>Presidente do Conselho de Administração da Gerdau e Presidente da Câmara de Políticas de Gestão, Desempenho e Competitividade</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Presidente do Conselho de Administração da Gerdau;
Presidente da Câmara de Políticas de Gestão, Desempenho e Competitividade do Governo Federal;
Participa do Conselho do Movimento Brasil Competitivo (MBC), do Conselho da Fundação Bienal do Mercosul e integra o Conselho da Fundação Bienal de São Paulo;
Também faz parte do Conselho de Administração e Comitê de Sucessão e Remuneração da Petrobras, do Conselho Superior Estratégico da Fiesp e do Conselho da Parceiros Voluntários;
Membro da Academia Brasileira da Qualidade (ABQ) e do Conselho do Instituto Aço Brasil, do qual foi presidente durante duas gestões;
Foi fundador do Programa Gaúcho da Qualidade e Produtividade e coordenador da Ação Empresarial.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>19</string>
		<key>name</key>
		<string>José Carlos Duarte</string>
		<key>slug</key>
		<string>jose-carlos-duarte</string>
		<key>title</key>
		<string>CTO da IBM Brasil</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Diretor de Tecnologia (CTO) da IBM Brasil, desde 2008;
Distinguished Engineer e arquiteto de TI da IBM;
Bacharelado em Administração de Empresas pela FMU - Faculdades Metropolitanas Unidas São Paulo/SP;
Fundação Getúlio Vargas - Bancos: Conceitos, Estratégia e Modelos de Negócios;
Harvard Business School - Business Insight Program - Oficina; 
Imperial College London Business School - Inovação Radical de Liderança - Oficina 
Boston University - Oficina de Cúpula Executiva ;
Membro da Academia Tecnológica da IBM;
Responsável pelo apoio ao Gerente Geral em matérias técnicas, assessoramento técnico e recomendações estratégias no que tange à tecnologia;
Membro do Conselho de Liderança Técnica da IBM Brasil - Afiliado da Academia IBM e de Certificação de Arquitetura de TI da IBM;
Membro da IDT - Equipe de Desenvolvimento de Inventores Brasil.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>Mailson da Nóbrega</string>
		<key>slug</key>
		<string>mailson-da-nobrega</string>
		<key>title</key>
		<string>Ex-ministro da Fazenda e Sócio da Tendências Consultoria</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Economista e sócio da Tendências Consultoria Integrada;
Ex-ministro da Fazenda, período 1988/1990;
Foi Consultor Técnico e Chefe da Divisão de Análise de Projetos do Banco do Brasil e Coordenador de Assuntos Econômicos do Ministério da Indústria e do Comércio;
Atuou como Diretor-Executivo do European Brazilian Bank, Eurobraz, em Londres;
Presidiu o Conselho Monetário Nacional e o CONFAZ;
Membro do Board de Governadores do Banco Mundial, do Fundo Monetário Internacional e do Banco Interamericano de Desenvolvimento, e de Conselhos de administração de empresas no Brasil e no exterior;
Tem quatro livros publicados, o último dos quais sua autobiografia, e vários artigos em revistas especializadas e veículos da mídia;
Economista do ano de 2013, prêmio concedido pela Ordem dos Economistas do Brasil.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>11</string>
		<key>name</key>
		<string>Marcelo Strufaldi Castelli</string>
		<key>slug</key>
		<string>marcelo-strufaldi-castelli</string>
		<key>title</key>
		<string>Presidente da Fibria</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
CEO da Fibria desde julho de 2011; 
Mestre em Administração de Empresas pela Fundação Dom Cabral;
Bacharel em Engenharia Mecânica pela Universidade de Mogi das Cruzes;
Graduado em Administração de Empresas pela Faculdades Associadas de São Paulo;
Atuou como Diretor de papel, Planejamento, Compras e Operações Florestais e Tecnologia da Fibria, de 2009 a 2011;
Também na Fibria, foi membro do conselho executivo e ocupou vários cargos, inclusive de recuperação, utilidades e gerente de meio ambiente, gerente-geral da fábrica de Jacareí e diretor associado de operações.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>13</string>
		<key>name</key>
		<string>Otávio Maia</string>
		<key>slug</key>
		<string>otavio-maia</string>
		<key>title</key>
		<string>Sócio Lider de Advisory Brasil - PwC</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Líder de Advisory - PwC Brasil e sócio da PwC desde 1993;
Bacharel em Ciências Contábeis;
Realizou cursos executivos na University of Western Ontario (Canadá), na Escuela de Dirección y Negocios de la Universidad Austral - IAE (Argentina) e no INSEAD (França);
Foi o Líder de Advisory para a Rede PwC América do Sul e membro do PwC Global Advisory Leadership Team, entre 2006 e 2010;
Ocupou diversos cargos na PwC, de 1997 a 2006, sendo sócio responsável pelos vários escritórios da PwC no Brasil;
Membro da Equipe de Liderança no Brasil como Líder de Advisory, desde 2004;
Membro do IBRACON - Instituto dos Auditores Independentes do Brasil e do Comitê Financeiro da Câmara Americana de Comércio no Brasil (AMCHAM); 
Conselheiro da Associação Brasileira da Infraestrutura e Indústrias de Base (ABDIB).</string>
	</dict>
	<dict>
		<key>id</key>
		<string>15</string>
		<key>name</key>
		<string>Prof. Carlos Arruda</string>
		<key>slug</key>
		<string>prof-carlos-arruda</string>
		<key>title</key>
		<string>Diretor Executivo Adjunto de Parcerias Empresariais da Fundação Dom Cabral</string>
		<key>description</key>
		<string>Professor de Inovação e Competitividade, Diretor Executivo Adjunto de Parcerias Empresariais e Coordenador do Núcleo de Inovação e Empreendedorismo da FDC; 
Na FDC, foi Diretor de Relações Internacionais, Diretor Executivo do Conselho Internacional e Diretor de Desenvolvimento e Finanças, Diretor do Programa MBA Empresarial e Coordenador do Núcleo de Internacionalização e Competitividade; 
Doutor em Administração Internacional, pela University of Bradford, Inglaterra, 1992;
Mestre em Administração, pela Universidade Federal de Minas Gerais - UFMG, 1988;
Graduado em Engenharia Mecânica, pela Universidade Federal de Minas Gerais - UFMG, 1980.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>Prof. José Paschoal Rossetti</string>
		<key>slug</key>
		<string>prof-jose-paschoal-rossetti</string>
		<key>title</key>
		<string>Sócio-diretor da Rossetti Consultores Associados</string>
		<key>description</key>
		<string>Professor Associado e Pesquisador da Fundação Dom Cabral, nas áreas de Macroambiente Econômico - Impactos de Macromudanças nos Negócios, Formulação Estratégica e Governança Corporativa;
Bacharel em Ciências Econômicas e Administrativas, pela Faculdade Municipal de Ciências Econômicas e Administrativas de Santo André - São Paulo, 1965;
Sócio-diretor da Rossetti Consultores Associados;
Conselheiro de grandes grupos empresariais;
Autor de diversos livros nas áreas de Governança Corporativa e Economia, além de ter vários artigos em publicações especializadas.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>name</key>
		<string>Prof. Paulo Resende</string>
		<key>slug</key>
		<string>prof-paulo-resende</string>
		<key>title</key>
		<string>Diretor Executivo de Desenvolvimento e Pós-Graduação da Fundação Dom Cabral</string>
		<key>description</key>
		<string>Diretor Executivo de Desenvolvimento e Pós-Graduação, Professor e Pesquisador da Fundação Dom Cabral na área de Logística;
Doutor em Planejamento de Transportes e Logística, pela University of Illinois at Urbana Champaign, USA, em 1995;
Mestre em Planejamento e Engenharia de Transportes, pela Memphis State University, Tennessee, USA, em 1991;
Especialista em Planejamento Urbano, pela University of Illinois at Urbana Champaign, USA, em 1994;
Especialista em Estatística, pela University of Illinois at Urbana Champaign, USA, em 1993;
Graduado em Engenharia Civil, pela FUMEC, em 1987.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>17</string>
		<key>name</key>
		<string>Rafael Guimarães</string>
		<key>slug</key>
		<string>rafael-guimaraes</string>
		<key>title</key>
		<string>CEO - Diretor Presidente da empresa Hortigil Hortifruti</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Diretor-Presidente da Hortigil Hortifruti S.A., a maior rede varejista especializada em hortifrutigranjeiros do país; 
 Advogado com mestrado em Direito Empresarial e Econômico pela Université de Paris I - Panthéon/Sorbonne, na França;
MBA de Finanças pelo Ibmec;
Diretor-Presidente da Trop Frutas do Brasil S.A., 2010-2012;
Sócio da RBG Consultoria e Investimentos Ltda., escritório de consultoria financeira e jurídica especializado em fusões e aquisições de empresas, 2009-2010;
Advogado em alguns dos melhores escritórios de Minas Gerais, especialista em Direito Societário e operações de fusões e aquisições de empresas, 2004-2009;
Foi professor universitário de Direito Empresarial, em algumas das mais tradicionais faculdades de Minas Gerais; 2004-2008.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>Rafael Lucchesi</string>
		<key>slug</key>
		<string>rafael-lucchesi</string>
		<key>title</key>
		<string>Diretor Geral SENAI e Vice-Presidente CNI</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Diretor de Educação e Tecnologia da Confederação Nacional da Indústria (CNI);
Diretor-Geral do Serviço Nacional de Aprendizagem Industrial (SENAI);
Diretor Superintendente do Serviço Social da Indústria (SESI);
Economista, formado pela Universidade Federal da Bahia (UFBA);
Professor da Universidade Estadual da Bahia (UNEB).</string>
	</dict>
	<dict>
		<key>id</key>
		<string>12</string>
		<key>name</key>
		<string>Ricardo Selmi</string>
		<key>slug</key>
		<string>ricardo-selmi</string>
		<key>title</key>
		<string>Presidente e principal acionista do Pastifício Selmi S.A.</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Presidente do PASTIFÍCIO SELMI desde Junho de 2005; 
Presidente do Conselho de Administração da SIMABESP desde Dezembro de 2011;
Vice Presidente da ABIMA desde 2005;
Diretor Secretário da ANIB desde Dezembro de 2011;
Graduação em Engenharia Mecânica - Fundação Armando Alvares Penteado - FAAPP;
Recebeu o prêmio de Executivo do ano pela APAS e o título de Cidadão Emérito de Campinas, ambos em 2008.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>name</key>
		<string>Wagner Brenner</string>
		<key>slug</key>
		<string>wagner-brenner</string>
		<key>title</key>
		<string>CEO e Fundador do Updaters/Update or Die</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
CEO e Fundador do Updaters/Update or Die;
MBA em Marketing pela Fundação Getúlio Vargas - FGV, com especialização pela Fairleigh Dickinson University - NJ;
Graduado em Comunicação Social com especialização em Propaganda e Marketing pela Fundação Armando Álvares Penteado - FAAP;
Nos últimos 14 anos, como Diretor de Criação Senior da McCann-Erikson Brasil, criou campanhas e projetos para anunciantes como Microsoft, Johnson &amp; Johnson, MSN, Mastercard, Nestlé, Sony, Chevrolet.</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>William Waack</string>
		<key>slug</key>
		<string>william-waack</string>
		<key>title</key>
		<string>Jornalista da TV Globo desde 1996</string>
		<key>description</key>
		<string>Palestrante convidado da Fundação Dom Cabral;
Jornalista desde os 16. Passou por algumas das principais redações do país, com destaque para Jornal do Brasil, Estado de São Paulo e Veja. Trabalha para a TV Globo desde 1996 e atualmente apresenta o Jornal da Globo e o Globonews Painel;
Mestre em Relações Internacionais;
Graduado em Jornalismo pela Universidade Federal de São Paulo;
Graduado em Sociologia, Comunicação e Ciência Política na Universidade de Mainz na Alemanha;
Foi repórter internacional destacado para coberturas na Europa, Oriente Médio e Estados Unidos, durante boa parte da carreira.</string>
	</dict>
</array>
</plist>